[Unit]
Description=fyp app
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/ubuntu/FYP_2024/FYP_2024/app.py
[Install]
WantedBy=multi-user.target
