[Unit]
Description=fyp app
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/ubuntu/fyp2024-repo/fyp2024-repo/app.py
[Install]
WantedBy=multi-user.target
